<div id="home-page" layout="column" layout-align="center center">
   <img src="https://s3.amazonaws.com/tripdip/v2/bgPictureBackup2.jpg" id="home-bg" >
   <div layout="column" layout-align="center center" class="row" id="title">
      <div id="start-adventure"><img src="https://s3.amazonaws.com/tripdip/v2/logoLarge.png"></div>
   </div>
   <div id="form" layout-align="center center"  class="row">
         <md-button  ng-href="#settingFirst" flex>Start Your Advanture Now?</md-button>
   </div>
   
   
   <div layout="column" layout-align="center center" class="row" id="photos">
      <div id="title1">TRENDING DESTINATIONS</div>
      <div layout="row">
         <div ng-repeat="pic in photos">
            <img ng-src="{{pic}}" class="md-whiteframe-10dp">
         </div>
      </div>
      <div id="form" layout-align="center center"  class="row">
         <md-button  ng-href="#itinerary" flex>SEE ALL ITINERARY DESIGNS</md-button>
   </div>
   </div>
   <div layout="column" layout-align="center center" class="row" id="photos-biteOfChina">
      <div id="title1">WATCH A BITE OF CHINA</div>
      <div layout="row" id="picGroup">
         <div ng-repeat="pic in photosBiteOfChina">
         <a ng-href="{{biteOfChinaVideoLink}}">
            <img ng-src="{{pic}}" class="md-whiteframe-10dp" >
            </a>
         </div>
      </div>
   </div>
</div>