<div id="setting-first-page" layout="row" layout-align="center center">
   
      <div layout="column" flex="50">
         <div class="section" id="step1">
            <p>Step 1 : Define your trip</p>
         </div>

         <div class="section">
            <p><span>Pick Your Date</span></p>
            <span class="item">
               <md-datepicker ng-model="depart" md-placeholder="Departing" class="date-pick"></md-datepicker>
            </span>
            <span  class="item">
               <md-datepicker ng-model="return" md-placeholder="Returning" class="date-pick"></md-datepicker>
            </span>
         </div>
         <div class="section">
            <div layout="row">
               <p flex="40"><span> Visa Application Assistant</span> </p>
               <md-checkbox ng-model="data.cb1" aria-label="Checkbox" flex="20"></md-checkbox>
            </div>
         </div>
         <div class="section">
            <p><span>Plan Your Trip</span></p>
            <div layout="row">
               <span class="item" flex="30">
                  <md-input-container >
                     <label>Start in Which City</label>
                     <input>
                  </md-input-container>
               </span>
               <span class="item" flex="30">
                  <md-input-container >
                     <label>End in Which City</label>
                     <input>
                  </md-input-container>
               </span>
            </div>
         </div>
         <div class="section">
            <p><span>Vacation Type</span></p>
            <div layout="row" >
               <div flex ng-repeat="vType in vacationType" class="iconDiv" ng-click="updateVacationType($index)"> 
                  <img ng-src="{{vType.img}}" height="50px" >
                  <p>{{vType.title}}</p>
               </div>

            </div>
         </div>
         <div class="section">
            <p><span>Budget</span></p>
            <div layout="row" >
               <div flex ng-repeat="bgt in budget" class="iconDiv" ng-click="updateBudgetType($index)">
                  <img ng-src="{{bgt.img}}" height="50px" >
                  <p>{{bgt.title}}</p>
               </div>

            </div>
         </div>
         <div class="section" id="nextBtn">
            <md-button class="md-raised" ng-href="#settingSecond">NEXT</md-button>
         </div>
      </div>

      <div id="map" flex="50"  ng-if="mapTrigger" >
         <img ng-src="{{map}}" class="md-whiteframe-7dp"width="100%">
      </div>

</div>