<div id="setting-second-page" layout="row" layout-align="center start">
   <div layout="column" id="form" flex="50">
      <div class="section" id="step1">
         <p>Step 2 : Refine your trip</p>
      </div>
      <div class="section" layout="row" layout-wrap>
         <div class="item" flex="50">
            <span>History</span>
            <md-slider flex min="0" max="255" ng-model="history" class = "slider"  ng-click="updateMap()"></md-slider>
         </div>
         <div class="item" flex="50">
            <span>Cuisine</span>
            <md-slider flex min="0" max="255" ng-model="cuisine" class = "slider" ng-click="updateMap()"></md-slider>
         </div>
         <div class="item" flex="50">
            <span>Music</span>
            <md-slider flex min="0" max="255" ng-model="music" class = "slider" ng-click="updateMap()"></md-slider>
         </div>
         <div class="item" flex="50">
            <span>Entertainment</span>
            <md-slider flex min="0" max="255" ng-model="entertainment" class = "slider" ng-click="updateMap()"></md-slider>
         </div>
         <div class="item" flex="50">
            <span>Modern</span>
            <md-slider flex min="0" max="255" ng-model="modern" class = "slider" ng-click="updateMap()"></md-slider>
         </div>
         <div class="item" flex="50">
            <span>Nature</span>
            <md-slider flex min="0" max="255" ng-model="nature" class = "slider" ng-click="updateMap()"></md-slider>
         </div>
         <div class="item" flex="50">
            <span>Culture</span>
            <md-slider flex min="0" max="255" ng-model="culture" class = "slider" ng-click="updateMap()"></md-slider>
         </div>
         <div class="item" flex="50">
            <span>Shopping</span>
            <md-slider flex min="0" max="255" ng-model="shopping" class = "slider" ng-click="updateMap()"></md-slider>
         </div>

         <div class="item" flex="50">
            <span>Sports</span>
            <md-slider flex min="0" max="255" ng-model="sports" class = "slider" ng-click="updateMap()"></md-slider>
         </div>
         <div class="item" flex="50">
            <span>Art</span>
            <md-slider flex min="0" max="255" ng-model="art" class = "slider" ng-click="updateMap()"></md-slider>
         </div>
         <div class="item" flex="50">
            <span>Active</span>
            <md-slider flex min="0" max="255" ng-model="active" class = "slider" ng-click="updateMap()"></md-slider>
         </div>
         <div class="item" flex="50">
            <span>Romantic</span>
            <md-slider flex min="0" max="255" ng-model="romantic" class = "slider" ng-click="updateMap()"></md-slider>
         </div>
         
         <div flex="100" layout="row" layout-align="start end">
            <md-button class="md-raised" id="nextBtn" ng-href="#settingThird">SHOW ITINERARY</md-button>
         </div>

      </div>
      
   </div>
   <div flex="50" >
      <div id="map" class="section">
         <img ng-src="{{map}}" class="md-whiteframe-7dp" width="100%">
      </div>
   </div>
</div>