<!DOCTYPE html>
<html>
   <head>
      <title>Trip Dip</title>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
   </head>
   <ng-include="/_nav.html"></ng-include>
   <body ng-app="angularApp" >
      <div layout="row">
         <div ng-include="'nav/_nav.html'" flex></div>
      </div>
      <div>
         <ui-view></ui-view>
      </div>
   </body>
</html>